body {
  margin: 0;
}

.background {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
}

.btn-box {
  width: 90%;
  display: flex;
  justify-content: space-between;  
  align-items: center;
}

button {
  width: 30px;
  height: 50px;
}

